USE [master]
GO
/****** Object:  Database [OpticaDB_Ferreyra]    Script Date: 27/9/2026 15:51:47 ******/
CREATE DATABASE [OpticaDB_Ferreyra]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OpticaDB_Ferreyra', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\OpticaDB_Ferreyra.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OpticaDB_Ferreyra_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\OpticaDB_Ferreyra_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OpticaDB_Ferreyra].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OpticaDB_Ferreyra]
GO
/****** Object:  User [prog2]    Script Date: 27/9/2026 15:51:48 ******/
CREATE USER [prog2] FOR LOGIN [prog2] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [prog2]
GO
/****** Object:  Table [dbo].[Armazones]    Script Date: 27/9/2026 15:51:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Armazones](
	[IdArmazon] [int] IDENTITY(1,1) NOT NULL,
	[Marca] [nvarchar](40) NOT NULL,
	[Modelo] [nvarchar](60) NOT NULL,
	[Precio] [decimal](12, 2) NOT NULL,
	[Stock] [int] NOT NULL,
 CONSTRAINT [PK_Armazones] PRIMARY KEY CLUSTERED 
(
	[IdArmazon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 27/9/2026 15:51:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[IdPedido] [int] IDENTITY(1,1) NOT NULL,
	[Cliente] [nvarchar](80) NOT NULL,
	[Telefono] [nvarchar](20) NOT NULL,
	[IdArmazon] [int] NOT NULL,
	[TipoCristal] [nvarchar](30) NOT NULL,
	[PrecioTotal] [decimal](12, 2) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[FechaPedido] [datetime] NOT NULL,
 CONSTRAINT [PK_Pedidos] PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Armazones] ON 

INSERT [dbo].[Armazones] ([IdArmazon], [Marca], [Modelo], [Precio], [Stock]) VALUES (1, N'Vulk', N'Radar negro mate', CAST(98000.00 AS Decimal(12, 2)), 6)
INSERT [dbo].[Armazones] ([IdArmazon], [Marca], [Modelo], [Precio], [Stock]) VALUES (2, N'Ray-Ban', N'Wayfarer clásico', CAST(260000.00 AS Decimal(12, 2)), 3)
INSERT [dbo].[Armazones] ([IdArmazon], [Marca], [Modelo], [Precio], [Stock]) VALUES (3, N'Infinit', N'Palermo acetato', CAST(145000.00 AS Decimal(12, 2)), 4)
SET IDENTITY_INSERT [dbo].[Armazones] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedidos] ON 

INSERT [dbo].[Pedidos] ([IdPedido], [Cliente], [Telefono], [IdArmazon], [TipoCristal], [PrecioTotal], [Estado], [FechaPedido]) VALUES (1, N'Elsa Domínguez', N'3573-410233', 2, N'Progresivo', CAST(415000.00 AS Decimal(12, 2)), N'Entregado', CAST(N'2026-09-14T16:57:17.630' AS DateTime))
INSERT [dbo].[Pedidos] ([IdPedido], [Cliente], [Telefono], [IdArmazon], [TipoCristal], [PrecioTotal], [Estado], [FechaPedido]) VALUES (2, N'Braian Quinteros', N'351-6002148', 4, N'Monofocal', CAST(129000.00 AS Decimal(12, 2)), N'Entregado', CAST(N'2026-09-17T16:57:17.630' AS DateTime))
INSERT [dbo].[Pedidos] ([IdPedido], [Cliente], [Telefono], [IdArmazon], [TipoCristal], [PrecioTotal], [Estado], [FechaPedido]) VALUES (3, N'Nora Cavigliasso', N'3573-455812', 1, N'Bifocal', CAST(182000.00 AS Decimal(12, 2)), N'Entregado', CAST(N'2026-09-19T16:57:17.630' AS DateTime))
SET IDENTITY_INSERT [dbo].[Pedidos] OFF
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Armazones] FOREIGN KEY([IdArmazon])
REFERENCES [dbo].[Armazones] ([IdArmazon])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Armazones]
GO
ALTER TABLE [dbo].[Armazones]  WITH CHECK ADD  CONSTRAINT [CK_Armazones_Precio] CHECK  (([Precio]>(0)))
GO
ALTER TABLE [dbo].[Armazones] CHECK CONSTRAINT [CK_Armazones_Precio]
GO
ALTER TABLE [dbo].[Armazones]  WITH CHECK ADD  CONSTRAINT [CK_Armazones_Stock] CHECK  (([Stock]>=(0)))
GO
ALTER TABLE [dbo].[Armazones] CHECK CONSTRAINT [CK_Armazones_Stock]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [CK_Pedidos_Cristal] CHECK  (([TipoCristal]='Sol' OR [TipoCristal]='Progresivo' OR [TipoCristal]='Bifocal' OR [TipoCristal]='Monofocal'))
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [CK_Pedidos_Cristal]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [CK_Pedidos_Estados] CHECK  (([Estado]='Entregado' OR [Estado]='Listo' OR [Estado]='Encargado'))
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [CK_Pedidos_Estados]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [CK_Pedidos_PrecioTotal] CHECK  (([PrecioTotal]>(0)))
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [CK_Pedidos_PrecioTotal]
GO
/****** Object:  StoredProcedure [dbo].[usp_AvanzarPedido]    Script Date: 27/9/2026 15:51:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[usp_AvanzarPedido]    @IdPedido INTASBEGIN    SET NOCOUNT ON;    BEGIN TRY        DECLARE @Estado NVARCHAR(20);        SELECT @Estado = Estado FROM dbo.Pedidos WHERE IdPedido = @IdPedido;        IF @Estado IS NULL        BEGIN            THROW 50024, N'El pedido indicado no existe.', 1;        END;        IF @Estado = N'Entregado'        BEGIN            THROW 50025, N'El pedido ya fue entregado: no hay más pasos.', 1;        END;        UPDATE dbo.Pedidos        SET Estado = CASE Estado            WHEN N'Encargado' THEN N'Listo'            ELSE N'Entregado'        END        WHERE IdPedido = @IdPedido;    END TRY    BEGIN CATCH        THROW;    END CATCH;END;
GO
/****** Object:  StoredProcedure [dbo].[usp_CrearPedido]    Script Date: 27/9/2026 15:51:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_CrearPedido]
    @Cliente     NVARCHAR(80),
    @Telefono    NVARCHAR(20),
    @IdArmazon   INT,
    @TipoCristal NVARCHAR(30),
    @PrecioTotal DECIMAL(12, 2),
    @Fecha       DATETIME,
    @Estado      NVARCHAR(20), -- 👈 1. Agregado en los parámetros de entrada
    @IdPedido    INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        IF @Cliente IS NULL OR LTRIM(RTRIM(@Cliente)) = N''
        BEGIN
            THROW 50020, N'El nombre del cliente no puede estar vacío.', 1;
        END;

        IF @PrecioTotal IS NULL OR @PrecioTotal <= 0
        BEGIN
            THROW 50020, N'El precio total debe ser mayor a cero.', 1;
        END;

        IF @Fecha IS NULL 
        BEGIN 
            THROW 50021, N'La fecha no puede ser nula.',1;
        END;

        DECLARE @Stock INT;
        SELECT @Stock = Stock FROM dbo.Armazones WHERE IdArmazon = @IdArmazon;

        IF @Stock IS NULL
        BEGIN
            THROW 50022, N'El armazón indicado no existe.', 1;
        END;

        IF @Stock = 0
        BEGIN
            THROW 50023, N'El armazón elegido no tiene stock.', 1;
        END;

        UPDATE dbo.Armazones
        SET Stock = Stock - 1
        WHERE IdArmazon = @IdArmazon;

        -- 👈 2. Agregamos 'Estado' en las columnas y @Estado en los valores
        INSERT INTO dbo.Pedidos
            (Cliente, Telefono, IdArmazon, TipoCristal, PrecioTotal, FechaPedido, Estado)
        VALUES
            (LTRIM(RTRIM(@Cliente)), @Telefono, @IdArmazon, @TipoCristal, @PrecioTotal, @Fecha, @Estado);

        SET @IdPedido = SCOPE_IDENTITY();

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END;

        THROW;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_ListarArmazones]    Script Date: 27/9/2026 15:51:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ListarArmazones]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT IdArmazon,Marca,Modelo,Precio,Stock
	FROM Armazones
	ORDER BY Marca ASC, Modelo ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_ListarPedidos]    Script Date: 27/9/2026 15:51:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[usp_ListarPedidos]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        P.IdPedido,
        P.Cliente,
        P.Telefono,
        P.TipoCristal,
        P.PrecioTotal,
        P.Estado,
        P.FechaPedido,
        A.Marca,
        A.Modelo
    FROM dbo.Pedidos AS P
    INNER JOIN dbo.Armazones AS A ON A.IdArmazon = P.IdArmazon
    ORDER BY
        CASE P.Estado
            WHEN N'Encargado' THEN 1
            WHEN N'Listo' THEN 2
            ELSE 3
        END ASC,
        P.FechaPedido DESC;
END;
GO
USE [master]
GO
